body {
  background-color: #fff;
}
.app {
  .dk__toast {
    &.app-toast {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      font-weight: 600;
      box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
      font-size: 1.6rem; /* 30px */
      line-height: 2rem; /* 36px */
      padding: 10px 40px;
      min-width: 200px;
      border-radius: 5px;
      background: #fff;

      transition: opacity 0.25s;
      color: #3a4b62;
      background-color: #f0f5f9;
    }
  }

  .dk__toast-mobile-container {
    left: 20px;
  }

  .dk__toast-container {
    left: 20px;
  }
}
